body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: white;
}

.header {
    background-color: red;
    height: 288px;
    padding: 16px 0 0 0;
}

.header-title {
    color: black;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: gray;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.input-description {
    color: black;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.output-description {
    color: black;
    margin: 4px auto;
    text-align: justify;
    max-width: 1084px;
    font-weight: bold;
}